<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>10000000000</particles>
  <batches>1</batches>
  <source particle="photon" strength="1.0">
    <space type="point">
      <parameters>-10.0 0 0</parameters>
    </space>
    <angle type="isotropic" />
    <energy type="discrete">
      <parameters>344950.0 511000.0 770600.0 1115539.0 4.911854700979375e-05 0.0284 5.203071382855622e-05 0.9714988507391618</parameters>
    </energy>
  </source>
  <photon_transport>true</photon_transport>
  <seed>1</seed>
  <temperature_method>interpolation</temperature_method>
</settings>
